.profilepage{
    position:relative
}

.container{
    background-color:#EEC302;
    height: 250px;
    width: 100%;
    /* position:relative; */
}

.background{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -50px;
    background-color: white;
    position:absolute
}

.profpict{
    border-radius: 50%;
}
